
body{
    background-color: teal;
}


span{
    display :block;
}

.outline {
    width: 110px;
    text-align: center;
    padding :10px;
    margin : 10px;
    background-color: white;
    color: red;
}

.top{
    text-align: left;
}
.bottom{
    text-align: right;
}
 /* .card {
            flex: 0 1 32%;
            margin: 10px 10px 0px 10px; 
            border-radius: 3px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        
            height: 100px;
            background: rgb(240, 240, 240);
 } */
.shadow {
    box-shadow: 1px 1px 3px #000000;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shawdow: 1px 1px 3px #000;
}

.rounded{
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
}

.diam{
    color: red;
}

.hearts{
    color: red;
}
.clubs{
    color: black;
}

.spades{
    color: black;
}


