

.grid {
    width: 200px;
    height: 400px;
    background: coral;
    display : flex ;
    flex-wrap: wrap;

}

.grid div {
    height:20px;
    width: 20px;
    border: black;
   

}

.tetremino {
    background-color: rgb(11, 226, 11);
}

.miniGrid {
    width: 80px;
}